USE [master]
GO
/****** Object:  Database [Map]    Script Date: 4/15/2021 11:10:34 AM ******/
CREATE DATABASE [Map]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Map', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Map.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Map_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Map_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Map].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Map]
GO
/****** Object:  Table [dbo].[OutletDet]    Script Date: 4/15/2021 11:10:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutletDet](
	[ID] [nchar](100) NULL,
	[Outlet_Name] [nchar](100) NULL,
	[VPN] [nchar](100) NULL,
	[Password] [nchar](100) NULL,
	[VNC_Pass] [nchar](100) NULL,
	[IP_Phone] [nchar](100) NULL,
	[Lattitude] [nchar](100) NULL,
	[Longitude] [nchar](100) NULL
) ON [PRIMARY]

GO
USE [master]
GO
